<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public\style.css">
</head>

<body>
    <strong>
        <h1>ABC News Of India</h1>
    </strong>
    <section>
        <div class="news">
            <img src="public\img\1.avif" alt="">
            <div>
                <h2>
                    বাস এলেই দিল্লি রওনা দিতে হবে, সারা রাত ডিম-ভাত রান্না নেতাজি ইন্ডোরে, তৈরি ৩-৪ হাজার মানুষ
                </h2>
                <p>
                    শিবাশিস মৌলিক, কলকাতা : বাংলার পাওনা বকেয়া আদায় করতে ৩-৪ হাজার লোক নিয়ে দিল্লিযাত্রা ( TMC Delhi Dharna ) 
                    শুরুর ঠিক আগের দিন, তৃণমূলের ( TMC )  চাহিদা মতো বিশেষ ট্রেন দেওয়া যাবে না বলে জানিয়ে দেয় রেল কর্তৃপক্ষ। আর তাই 
                    বাসেই দিল্লি যাচ্ছেন তৃণমূল কংগ্রেস কর্মীরা।
                </p>
            </div>

        </div>
        <div class="news">
            <img src="public\img\2.avif" alt="">
        </div>
    </section>
</body>

</html>