<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  type="text/css" href="styles/main.css">
    <script src="https://kit.fontawesome.com/abfccd6663.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header">
        <span class="main_title">ABC News Of India</span>
        <span class="admin_login"><a class="nav-link" href="/Admin_login"><i class="fa-solid fa-user"></i>&nbsp;Admin</a></span>
    </div>

    <section class="body_part">
        <div class="news">
            <div><img src="images/1.avif" alt=""></div>
            <div>
                <a href="#">
                    <h2>
                        বাস এলেই দিল্লি রওনা দিতে হবে, সারা রাত ডিম-ভাত রান্না নেতাজি ইন্ডোরে, তৈরি ৩-৪ হাজার মানুষ
                    </h2>
                </a>
                <p>
                    শিবাশিস মৌলিক, কলকাতা : বাংলার পাওনা বকেয়া আদায় করতে ৩-৪ হাজার লোক নিয়ে দিল্লিযাত্রা ( TMC Delhi
                    Dharna )
                    শুরুর ঠিক আগের দিন, তৃণমূলের ( TMC ) চাহিদা মতো বিশেষ ট্রেন দেওয়া যাবে না বলে জানিয়ে দেয় রেল
                    কর্তৃপক্ষ। আর তাই
                    বাসেই দিল্লি যাচ্ছেন তৃণমূল কংগ্রেস কর্মীরা।
                </p>
            </div>
        </div>

        <div class="news">
            <div class="newsImg"><img src="images/2.avif" alt=""></div>
            <div>
                <a href="#">
                    <h2>ব্যারাকপুর নিয়ে ছবি করছেন রাজ ? ওয়েব সিরিজে অর্জুন সিংহ? জানালেন নিজেই</h2>
                </a>
                <p>
                    সূত্রের খবর, ব্যারাকপুর নিয়ে একটি ছবি করতে পারেন রাজ! যদিও এ নিয়ে কোনও মুখ খোলননি তিনি! রাজ জানান,
                    ঘণ্টা দুয়েক কথা হয়। ব্যারাকপুর নিয়ে অনেক অজানা গল্প জেনেছেন প্রবীণ নেতার কাছ থেকে। আর তড়িৎ তোপদার
                    বলছেন,
                    'ব্যারাকপুর সম্পর্কে কী ভেবে কে করছে, আমার বিশদ জানা নেই , তবে শুনেছি রাজ নাকি করছে !' যদিও,
                    প্রাক্তন সিপিএম
                    সাংসদের বাড়িতে গিয়ে তৃণমূল বিধায়কের বৈঠক প্রসঙ্গে অন্য় দাবি করেছেন প্রাক্তন সিপিএম সাংসদের ছেলে।
                    নীলাদ্রির দাবি রাজ তাঁর
                    বাবার উপর একটি ডকুমেন্টারি ছবি করতে চান।
                </p>
            </div>
        </div>

        <div class="news">
            <div class="newsImg"><img src="images/3.avif" alt=""></div>
            <div>
                <a href="#">
                    <h2>ভিশন ২০২০ নিয়ে কী ভাবনা, গাড়ি-খাবারের খরচ কেন ১ কোটি ৬৯ লক্ষ টাকা, প্রশ্ন উঠল সিএবি-র সভায়</h2>
                </a>
                <p>
                    কলকাতা: বাংলা থেকে ক্রিকেটার তুলে আনার জন্য সৌরভ গঙ্গোপাধ্যায়ের (Sourav Ganguly) উদ্যোগে শুরু হয়েছিল
                    ভিশন ২০২০ শিবির।
                    যে প্রকল্পে কোচেদের নামের তালিকা এক সময় হইচই ফেলে দিয়েছিল। ওয়াকার ইউনিস, মুথাইয়া মুরলীধরন ও সৌরভ
                    স্বয়ং। পরে
                    ওয়াকারের জায়গায় পেসারদের কোচিংয়ের দায়িত্বে এসেছিলেন টি এ শেখর। সৌরভের জায়গায় পরে ব্যাটিং কোচ হন ভি
                    ভি এস লক্ষ্মণ।
                </p>
            </div>
        </div>

        <div class="news">
            <div class="newsImg"><img src="images/4.avif" alt=""></div>
            <div>
                <a href="#">
                    <h2>ফেব্রুয়ারির শেষেই লোকসভা নির্বাচন! দাবি শুভেন্দুর, আগেই আশঙ্কা প্রকাশ করেন মমতা</h2>
                </a>
                <p>
                    কলকাতা: 'এক দেশ, এক নির্বাচন' নীতি কার্যকর করার দাবি তুলছে বিজেপি (BJP)। ২০২৪-এর লোকসভা নির্বাচন
                    (Lok Sabha Elections 2024)
                    এগিয়ে আনা হতে পারে বলে আশঙ্কা প্রকাশ করেছেন বাংলার মুখ্যমন্ত্রী মমতা বন্দ্যোপাধ্যায়ও (Mamata
                    Banerjee)। এবার সেই আশঙ্কা আরও উস্কে দিলেন
                    বিরোধী দলনেতা শুভেন্দু অধিকারী (Suvendu Adhikari)। জানালেন, ফেব্রুয়ারির শেষেই লোকসভা নির্বাচন হয়ে
                    যাবে। তাঁর এই মন্তব্য নিয়ে ফের জল্পনা শুরু হয়েছে।
                </p>
            </div>
        </div>

        <div class="news">
            <div class="newsImg"><img src="images/5.avif" alt=""></div>
            <div>
                <a href="#">
                    <h2>আজই শেষ দিন নয়, ২০০০ টাকার নোট বদলে নিতে আরও এক সপ্তাহ সময় দিল RBI</h2>
                </a>
                <p>
                    নয়াদিল্লি: নোট বাতিলের ঘোষণা হয়েছিল আগেই। তার পরও ২০০০ টাকার নোটের ব্যবহার বৈধ রাখা হয়ে ছিল। নোট
                    বদলে নিতে সময় দেওয়া
                    হয়েছিল ৩০ সেপ্টেম্বর পর্যন্ত। এবার সেই সময়সীমা আরও বাড়াল রিজার্ভ ব্যাঙ্ক অফ ইন্ডিয়া (RBI). আগামী ৭
                    অক্টোবর পর্যন্তজ ২০০০
                    টাকার নোট বদলে নেওয়া যাবে বলে জানাল তারা। শনিবার সেই ঘোষণা করা হল RBI-এর তরফে।
                    <br>
                    শনিবার নোট বদলে নেওয়ার বর্ধিত সময়সীমার ঘোষণা করল RBI. জানাল, ৭ অক্টোবর পর্যন্ত ব্যাঙ্কে গিয়ে নোট
                    বদলে নেওয়া যাবে।
                </p>
            </div>
        </div>
    </section>
    <%- include("partials/footer.ejs") %>