<!-- post.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
</head>
<body>
    <% if(post){%>
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <% } %>

    <% if(imgSrc){%>
    <img src="data:image/png;base64,<%= imgSrc %>" alt="Post Image">
    <% } %>
</body>
</html>
