body{
    margin: 0 30%;
    border: 0;
    background-color: antiquewhite;
}
h1{
    text-align: center;
}
.news{
    margin: 10px;
    display: flex;
}
img{
    margin: 30px;
}
a{
    text-decoration: none;
}



/* footer */
.footer-information{
    background-color: #1c1f20;
    height:auto;
    
}

.footer-container{
    margin:0 70px;
}
.footer-top{
    padding:30px 0;
    color: white;
    height:300px;
}
.underline-animation{
    margin-top:10px;
}
.link-decoration{
    text-decoration: none;
    color:#ffffff;
}
        
     }
     .foot-col3{
        position:absolute;
        right:28%;
        
     }
     .foot-col2{
        position:absolute;
        right:52%;
        
        
     }
}